html,body{
    height: 100%;
}

body {
    background-color: #eeeeee;
    display: flex;
    flex-direction:column;
        
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #373a40;
}

a{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: #373a40;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #373a40;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
}

a:visited  { 
    text-decoration: none; 
    color:#373a40; 
}

a:hover { 
    text-decoration: none; 
    color:#968c83; 
}

#layout-header {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1px;
    margin-bottom: 1px;
}

#layout {
    margin-top: 1px;
    margin-right: 10%;
    margin-left: 10%;
    /* border: dashed 1px #cdc9c3; */
    flex: 1 0 auto;
}

#main-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

#main-header div{
    width: 90%;
    text-align: right;
}

#main-header div a img{
    margin-bottom:10px;
    margin-bottom:10px;
}

section{
    text-align: center;
    align-items: center;
    justify-content: center;
}

section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
    font-size: 40px;
}


.list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


section p1{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: grey;
}


/* DESPLEGABLE */

#logo-usuario{
    width: 30px;
    margin-top: 5px;
}

#logo-usuario:hover{
    cursor: pointer;
}

.Toggle {
    display: none;
    position: absolute;
} 

.Toggle ul li{
    width: 107px;
    height: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-bottom: 2px;
    font-size: 12px;
    background-color:  #d4d4d4;
    
    
}

/*  PRODUCT */
.product{
    border: dashed 2px #cdc9c3;
    height: 500px;
    width: 300px;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.product h2 {
    max-width: 250px;
}

.product p{
    width: 250px;
}

.product img{
    max-width: 250px;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product:hover{
    border: dashed 2px grey;
    cursor: pointer;
}


/* DETAIL */

.container-detail{
    border: dashed 2px #cdc9c3;
    display: grid;
    grid-row-gap: 5px;
    width: 70%;
    margin:0 auto;
    padding: 4%;
    margin-top: 15px;
    grid-template-areas:
        'image name'
        'image description'
        'image price'
        'image purchase';
}

.container-detail div{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.product-img img{
    height: 350px;
    max-width: 350px;
}

.product-description p{
    max-width: 600px;
    margin: 0 auto;
}



