#form-container {
    text-align: left;
    align-items: left;
    width: 70%;
    border: dashed 2px #cdc9c3;
    margin:0 auto;
    padding: 4%;
    padding-top:2%;
    padding-bottom:2%;
}

#form-container form{
    width: 90%;
    margin:0 auto;
    padding: 4%;
}

#form-container form input{
    margin:20px;
}

#form-container form input[type=submit]{
    border: solid 1px #cdc9c3;
    padding: 14px 40px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #373a40;
    letter-spacing: 1.5px;
}

#form-container form input:hover{
   background-color:#e4e1e2;
}


#form-container form label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
}