html,body{
    height: 100%;
}

body {
    background-color: #eeeeee;
    display: flex;
    flex-direction:column;
        
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #373a40;
}

a{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2.5px;
    color: #373a40;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
}

a:visited  { 
    text-decoration: none; 
    color:#373a40; 
}

.nav-menu ul li a:hover { 
    text-decoration: none; 
    color:#968c83; 
}

.layout-header {
    margin-right: 5%;
    margin-left: 5%;
}

.layout {
    margin-right: 5%;
    margin-left: 5%;
    border: dashed 1px #cdc9c3;
    flex: 1 0 auto;
}

.main-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header div{
    width: 90%;
    text-align: right;
}

.main-header div a{
    margin:10px;
}


.nav-menu{
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: dashed 2px #cdc9c3;
    border-bottom: dashed 2px #cdc9c3;
}

.nav-menu ul li {
    padding: 10px;
    list-style:none;
}

.nav-menu ul li a {
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}


section{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 6%;
}

section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #373a40;
    font-size: 40px;
}


.list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


section p1{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: grey;
}

