/* MENU */

#nav-menu{
    margin-top: 1px;
    margin-bottom: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav-menu ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top: dashed 2px #cdc9c3;
    border-bottom: dashed 2px #cdc9c3;
}

#nav-menu ul li {
    padding: 10px;
    list-style:none;
}

#nav-menu ul li a {
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

/* CATEGORIAS */

.category {
    border: dashed 2px #cdc9c3;
    height: 300px;
    width: 200px;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.category img{
    width: 200px;
    margin-top: 50px;
}

.category a {
    font-size: larger;
}

.category:hover{
    border: dashed 2px grey;
    cursor: pointer;
}

.category-menu:hover{
    cursor: pointer;
}

/* CABAS VISIBLE */

#cabas-container{
    position: fixed;
    float: right;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 250px;
    margin-left: 85%;
}

#cabas{
    border: dashed 2px #cdc9c3;
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 250px;
}

#cabas-list{

}