

.product{
    border: dashed 2px #cdc9c3;
    height: 500px;
    width: 300px;
    margin: 30px;
    padding: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
}


.product h2 {
    max-width: 250px;
}

.product p{
    width: 250px;
}

.product img{
    max-width: 250px;
    max-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

